body { min-width: 960px;}

.img-bord,
.box-1 { behavior:url(js/PIE.htc); position:relative}

.various:hover img {filter:progid:DXImageTransform.Microsoft.Alpha(opacity=40);}
#toTop:hover {filter:progid:DXImageTransform.Microsoft.Alpha(opacity=70);}
.magnifier:hover img {filter:progid:DXImageTransform.Microsoft.Alpha(opacity=40);}
#contact-form ._placeholder.focused {	filter: alpha(opacity=40);}
#contact-form ._placeholder {	filter: alpha(opacity=99);}