/*css*/
@import "../css/reset.css";
@import "../css/skeleton.css";
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800');
@import url('https://fonts.googleapis.com/css?family=Rokkitt:400,700');
@import url('https://fonts.googleapis.com/css?family=PT+Sans+Caption');

html, body {
	background: #09121c;
	font: 12px/24px Arial, sans-serif;
	color: #7c7c7c;
	min-width:300px;
}

* { -webkit-text-size-adjust: none;}

a { color: inherit; text-decoration: none;}
a:hover { text-decoration: none;}
a[href^="tel:"] {color: inherit;text-decoration:none;}
.a-hov { transition: all 0.4s ease;}
.a-hov:hover { color: #000000;}

ul li a { transition: all 0.4s ease;}

h1, h2, h3, h4, h5, h6 { font-family: 'Open Sans', sans-serif;}
h1 {font-family: 'PT Sans Caption', sans-serif; font-size: 36px; color: #fff; padding-top: 29px;margin-left: 5px;font-weight: 400;float: left;}
h2 { font-family: 'Open Sans', sans-serif; color: #302d2a; font-size: 22px; line-height: 30px; font-weight: 300; padding-top: 40px; padding-bottom: 18px;}
h2.v1 { text-transform: uppercase;}
h3 {
	font-size: 18px;
	line-height: 30px;
	text-transform: uppercase;
	color: #302d2a;
	font-family: 'Rokkitt', serif;
	text-transform: uppercase;
	border-top: 1px solid #afafaf;
	border-bottom: 1px solid #afafaf;
	text-align: center;
	margin-top: 38px;
	padding-top: 11px;
	padding-bottom: 8px;
}
h4 { }
h5 { }


.title-1 {
	font-family: 'Rokkitt', serif;
	font-size: 72px;
	line-height: 72px;
	font-weight: 700;
	text-transform: uppercase;
	color: #fff8f8;
}
.text-1 { color: #000000;}
.text-2 { font-size: 14px; line-height: 30px; color: #7c7c7c;}
.text-3 { font-size: 18px; line-height: 30px; color: #000000; font-family: 'Open Sans', sans-serif;}
.text-4 { font-size: 14px; line-height: 14px; font-family: 'Open Sans', sans-serif;}
.text-5 { font-size: 14px; line-height: 18px; color: #000; text-transform: uppercase; font-family: 'Open Sans', sans-serif; font-weight: 800;}
.text-6 { font-size: 12px; line-height: 24px; color: #7c7c7c;}
.text-7 { font-size: 16px;color: #000; font-weight: bold; font-family: 'Open Sans', sans-serif;}
.text-8 { font-family: 'Open Sans', sans-serif;}

.color-1 { color: #000;}
.color-2 { }

h2 + .text-2 { margin-top: 2px;}
h3 + .text-3 { padding-top: 7px;}
h2 + .text-6 { margin-top: -11px;}
h2 + .list { margin-top: -5px;}
.list + h2 { padding-top: 83px;}
.img-bord + .text-7, img + .text-7 { margin-top: 14px;}

.text-7 a { transition: all .4s ease;}
.text-7 a:hover { border-bottom: 1px solid #000}

.btn {
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	transition: all 0.4s ease;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	line-height: 34px;
	height: 34px;
	padding: 0 14px;
	background: #000000;
	color: #fff;
	margin-top: 19px;
}
.btn:hover { background: #7c7c7c;}

.list li {
	line-height: 30px;
	color: #000000;
	font-family: 'Open Sans', sans-serif;
	padding-left: 14px;
	background: url(../images/mark-1.png) 0 center no-repeat;
}
.list li + li { margin-top: 0px;}
.list li a { }
.list li a:hover { text-decoration: underline;}


/*auxiliary*/

.img-bord {
	padding: 6px;
	background: #fff;
	-webkit-box-shadow: 1px 1px 1px 0px #d6d6d6;
	-moz-box-shadow: 1px 1px 1px 0px #d6d6d6;
	box-shadow: 1px 1px 1px 0px #d6d6d6;
	margin-right: 1px;
}
.img-bord img { width: 100%;}
.img-bot { margin-bottom: 14px;}


.img-ind {float: left; margin-right: 18px; margin-top: 6px;}
.wrapper {width: 100%; position: relative;}
.extra-wrap {overflow:hidden;}
.grid_inside { margin: 0 -10px;}
.aligncenter {text-align: center !important;}
.alignleft { text-align: left !important; }
.it {font-style:italic; display: inline-block;}
.fleft {float: left;}
.fright {float: right;}
.h-underline:hover { text-decoration: underline;}
.underline {text-decoration: underline;}
.upp {text-transform: uppercase;}
.transition {transition: all 0.4s ease;}

.clearfix { *zoom: 1;}
.clearfix:before,.clearfix:after {display: table; content: "";line-height: 0;}
.clearfix:after { clear: both;}

.pad-left { padding-left: 10px;}

p { padding-bottom: 24px;}

.block-2 { margin-top: 38px;}
.block-2.v1 { margin-top: 29px;}

.dropcap {
	float: left;
	margin-right: 20px;
	margin-top: 6px;
	color: #fff8f8;
	display: inline-block;
	text-align: center;
	line-height: 44px;
	width: 40px;
	height: 40px;
	font-family: 'Rokkitt', serif;
	font-weight: bold;
	font-size: 35px;
	background: #000000;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}

/************Header************/
header { background: #111213;}

.h-main { background: url(../images/bg-2.jpg) center top no-repeat; text-align: center; padding-top: 159px; padding-bottom: 155px;}
.h-main .title-1 { display: inline-block; padding: 0 62px; border-top: 3px solid #fff; border-bottom: 3px solid #fff; padding-top: 10px; padding-bottom: 5px;}

/************Content***********/
.content { background: url(../images/bg-1.gif) 0 0 repeat; padding-bottom: 45px;}

.block-1 { text-align: center; margin-top: 4px;}
.block-1 .text-3 { width: 90%; margin: 0 auto;}

.box-1 {
	position: relative;
	margin-top: 31px;
	margin-bottom: 13px;
	margin-right: 1px;
	padding: 6px;
	background: #fff;
	-webkit-box-shadow: 1px 1px 1px 0px #d6d6d6;
	-moz-box-shadow: 1px 1px 1px 0px #d6d6d6;
	box-shadow: 1px 1px 1px 0px #d6d6d6;
	font-family: 'Open Sans', sans-serif;
	color: #fff;
	line-height: 14px;
}

.box-1 .abs {
	position: absolute;
	left: 0px;
	right: 0px;
	bottom: 0px;
	background: #000;
	padding-bottom: 5px;
	padding-top: 10px;
}
.box-1 .abs i {
	font-size: 30px;
	line-height: 30px;
	color: #fff;
}
.box-1 .img-ind {
	margin-left: 15px;
	margin-right: 17px;
	margin-top: 1px;
}

	.various {
		position:relative;
		display:block;
		background: #000000;

	}
	.various img {
		-webkit-transition: all 0.5s ease;
		-moz-transition: all 0.5s ease;
		-o-transition: all 0.5s ease;
		transition: all 0.5s ease;
		width: 100%;
	}

	.various:hover img {opacity: 0.4;}


.box-2 {
	text-align: center;
	margin-top: 14px;
}
.box-2 .text-2 { line-height: 18px;}

.box-2:hover { text-decoration: underline;}


.list-services { position: relative; margin-top: -9px;}
.list-services li {
	display: inline-block;
	float: left;
}

	.list-services li a {
		text-decoration: none;
		-webkit-transition: all 0.2s ease-out;
	    -moz-transition: all 0.2s ease-out;
	    -o-transition: all 0.2s ease-out;
	    -ms-transition: all 0.2s ease-out;
	    transition: all 0.2s ease-out;
		margin-right: 26px;
		text-align: center;
		line-height: 24px;
	}
	.list-services li a i {
		color: #404040;
		font-size: 24px;
		line-height: 24px;
		vertical-align: middle;
	}
	.list-services li a:hover i {color: #000;	}

.block-3 h2 { padding-bottom: 10px;}

.block-4 { margin-top: 1px;}
.block-4 p { padding-bottom: 20px;}


.b-dropcap + .b-dropcap { margin-top: 24px;}
.qoute {
	display: inline-block;
	background: url(../images/quote.png) 0 bottom no-repeat;
	width: 27px;
	height: 17px;
	margin-bottom: 0px;
}

.block-5 { margin-top: 42px;}

.block-6 { margin-top: 10px; padding-bottom: 19px;}
.block-6 .box-1 { margin-top: 19px;}


/*blog*/

.post + .post { margin-top: 33px;}
.post .date {
	display: block;
	text-align: center;
	float: left;
	background: #000000;
	padding: 3px 5px 2px;
	line-height: 15px;
	font-size: 15px;
	color: #fff;
	text-transform: uppercase;
	font-family: 'Rokkitt', serif;
	font-weight: 700;
	margin-top: 7px !important;
}
.post .date span { display: block; font-size: 20px; line-height: 20px;}

.post_info { position: relative; margin-bottom: 11px;}
.post_info .box-img-1 {margin-top: 17px;}
.comments { display: inline-block; position: absolute; right: 2px; bottom: -5px; text-transform: none;}
.post .comments a { text-transform: none; font-family: 'Open Sans', sans-serif; font-size: 12px; line-height: 12px; color: #7c7c7c;}
.post_info .img-ind { margin-right: 18px;}
.post .img-ind { margin-top: 7px; margin-right: 20px;}

.gallery { margin-top: -14px;}

.box-3 {
	background: url(../images/bg-3.png) 0 0 repeat;
	padding: 10px 10px 23px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	margin-top: 20px;
}

/************Footer************/
footer { font-family: 'Open Sans', sans-serif; font-weight: 300; font-size: 14px; line-height: 30px; color: #fbfbfb; padding-top: 41px; padding-bottom: 40px; text-align: center; letter-spacing: 0px;}


	/*toTop*/

	#toTop {
		display:none;
		text-decoration:none;
		position:fixed;
		cursor:pointer;
		overflow:hidden;
		width: 58px;
		height: 58px;
		border:none;
		text-indent:-999px;
		z-index:20;
		background: url(../images/ui.totop.png) 0 0 no-repeat;
		margin-right: -670px !important;
		right: 50%;
		bottom: 20px;
	}

		#toTop:hover { opacity: .7;}

		#toTop:active, #toTop:focus {outline:none;}



	/*touch-touch*/
	.magnifier {
		position:relative;
		display:block;
		background: url(../images/magnifier.png) center center no-repeat #000000;

	}
	.magnifier img {
		-webkit-transition: all 0.5s ease;
		-moz-transition: all 0.5s ease;
		-o-transition: all 0.5s ease;
		transition: all 0.5s ease;
		width: 100%;
		-webkit-box-shadow: 0px 0px 0px 0px #fff;
		-moz-box-shadow: 0px 0px 0px 0px #fff;
		box-shadow: 0px 0px 0px 0px #fff;
	}

	.magnifier:hover img {	opacity: 0.4;	}

	.text-7 .underline { border-bottom: none; text-decoration: underline;}
	.text-7 .underline:hover { text-decoration: none; border-bottom: none;}

/*==================================RESPONSIVE LAYOUTS===============================================*/


@media only screen and (max-width: 995px) {
	.block-5 { margin-top: 0;}

}
@media only screen and (max-width: 767px) {
	.title-1 { font-size: 50px;}
	.h-main { padding-top: 100px; padding-bottom: 100px;}
	.box-2 { width: 46% !important; margin-left: 2%; margin-right: 2%;}
	.w2 {  width: 46% !important; margin-left: 2%; margin-right: 2%;}
	.w1 { width: 45%; margin-bottom: 20px;}
	.block-4 blockquote { margin-bottom: 30px;}
}
@media only screen and (max-width: 480px) {
	.h-main .title-1 { padding: 0 30px;}
	.title-1 { font-size: 30px;}
	.h-main { padding-top: 50px; padding-bottom: 50px;}
	.w2 {  width: 100% !important; margin-left: 0; margin-right: 0;}
}
@media only screen and (max-width: 320px) {

}
